<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example"
    android:versionCode="1"
    android:versionName="1.0" >
    
<uses-permission android:name="android.permission.INTERNET" />    

    <application
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".ConverterActivity"
            android:label="@string/component_name_convert" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/component_name_search" >
        </activity>
        <activity
            android:name=".SorterActivity"
            android:label="@string/component_name_sort" >
        </activity>
        <activity
            android:name=".SortGalleryActivity"
            android:label="@string/component_name_sort" >
        </activity>
        <activity
            android:name=".GalleryView"
            android:label="@string/component_name_sort" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/component_name_explain" >
        </activity>
        <activity
            android:name=".AnimateSortActivity"
            android:label="@string/component_name_sort" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Fundamentals Of Computing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>